
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIM Perpustakaan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/content/site.css" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
  </head>
<body>

@RenderSection("scripts", false)
  
<div class="navbar navbar-inverse navbar-fixed-top">
    
    @*detail sintaks lihat pada project lampiran*@
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a asp-controller="Home" asp-action="Index"
               class="navbar-brand">SIM Perpustakaan</a>

        </div>
        <div class="navbar-collapse collapse">

            <partial name="_Menu"/>

        </div>

    </div>

</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - SIM Perpustakaan</p>
    </footer>
</div>


</body>
</html>

